@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
   padding-bottom: 122px;
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 37px;
   }
   
   
}

.nav{
   &__menu__list{
      display: flex;
      column-gap: 88px;
     
   }
}

.nav__menu__item.nav__menu__item__active{
   position: relative;
}
.nav__menu__item.nav__menu__item__active::before{
   position: absolute;
   content: '';
   width: 39px;
   height: 4px;
   bottom: 6px;
   left: -30px;
   background-color: $colorforbuttom;
}

.nav__menu__item.nav__menu__item__active::after{
   position: absolute;
   content: '';
   width: 5px;
   height: 4px;
   background-color: $colorforbuttom;
   border-radius: 50%;
   bottom: 6px;
   right: 27px;

}

.nav__menu__link{
   color: #fff;
}
.nav__menu__btn{
   display: inline-flex;
   transform: translateY(-5px);
   
   color: #fff;
   
   background-color: #FA9021;
   padding: 10px 27px;
}

.ctx__nav__box{
   display: flex;
   column-gap: 36px
}
.promo{
   padding-bottom: 180px;
   &__inner{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__ctx{
      color: #fff;
      max-width: 527px;
      
   }

   &__title{
      color: #E87D0E;
      font-size: 20px;
      font-weight: 700;
      line-height: 155.2%;
      margin-bottom: 16px;
   }

   &__description{
      font-size: 50px;
      font-weight: 700;
      line-height: 155.2%;
      margin-bottom: 27px;
   }

   &__text{
      font-weight: 500;
      line-height: 200%;
      margin-bottom: 50px;
   }

   &__btn{
      width: fit-content;
      border: none;
      padding: 0;
      background-color: $colorforbuttom;
      padding: 15px 30px;
      border-radius: 40px;
      
   }

   &_img{
      transform: translateX(310px)
   }
   
}

.card__game{
   &__innner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 57px;
   }

   &__btn{
      display: inline-flex;
      width: fit-content;
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.11);
      padding: 10px 30px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      
      
   }

   &__title{
      color: #fff;
      font-size: 31px;
      font-weight: 700;
      list-style: 187.5%;
   }

}

.card__game{
   padding-bottom: 129px;
}


.card__box{
   display: flex;
   
  
  justify-content: space-between;
  margin-bottom: 25px;


   
}

.card__ctx__move{
   display: flex;
   column-gap: 10px;
   justify-content: space-between;

   

}

.card__ctx__main{
   display: flex;
   column-gap: 10px;
   
   
}

.spider__man{
   padding-bottom: 157px;
   &__title{
      text-align: center;
      color: #fff;
      font-size: 35px;
      font-weight: 600;
      line-height: 187.5%;
      max-width: 826px;
      margin: 0 auto;
      margin-bottom: 67px;
      
   }

   &__subtitle{
      font-size: 30px;
      font-weight: 600;
      line-height: 187.5%;
      margin-bottom: 32px;
      
   }

   &__text{
      line-height: 187.5%;
      max-width: 545px;
      margin-bottom: 46px;
      
   }

   .spader__man__popup {
      min-height: 462px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      
      
      
    }

    .spader__man__popup::before{
      content: '';
      position: absolute;
      background-image: url(../images/decore__game.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 196px;
      height: 154px;
      top: -60px;
      right: 180px;
      z-index: -1;

      
    }
    
    
}

.chips{
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 141px;
   min-height: 881px;
   background-position: center;
   padding-top: 100px;
   
   
   
  
   
   
   
   &__title{
      text-align: center;
      color: #fff;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 30px;
      max-width: 826px;
      line-height: 187.5%;
     
      
     
      
   }

   &__text{
      line-height: 187.5%;
      max-width: 820px;
     text-align: center;
     margin-bottom: 115px;
     
      
      
   }

   &__inner{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      margin-bottom: 62px;
      
      
   }

   &__link{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;


   }

   .title__inner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

  
}


.photos{
   padding-bottom: 105px;
   
}

.photo__title{
   text-align: center;
   color: #fff;
   margin-bottom: 14px;
   font-size: 30px;
   font-weight: 700;
}

.photo__text{
   text-align: center;
   color: #fff;
  
   max-width: 497px;
  
 margin: 0 auto;
   padding-bottom: 71px;
   font-size: 14px;
}

.photo__inner{
   display: flex;
   justify-content: center;
   column-gap: 27px;
   margin-bottom: 33px;
}

.card__game__btn__2{
   display: flex;
   width: fit-content;
  margin: 0 auto;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
   background: rgba(255, 255, 255, 0.11);
   color: #fff;
   cursor: pointer;

}

.form{
   padding-bottom: 120px;
}

.form__title{
   color: #fff;
   margin-bottom: 32px;
   font-size: 30px;
   font-weight: 600;
}


.form__description{
   line-height: 187.5%;
   max-width: 545px;
   margin-bottom: 74px
}


.button{
   text-align: center;
   
   margin-bottom: 120px;
}

.button a{
   background-color: $colorforbuttom;
   color: #fff;
   padding: 15px 20px;
   border-radius: 10px
}

.pop__up{
  
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   background-color: transparent;
   z-index: 2;
   transform: translateY(-44.5%) scale(0);
   transition: .4s ease-in-out;

}
.pop__up.active{
  transform: translateY(0%) scale(100%);
  background-color: rgba( #fff,  0.7);
}

.pop__up__inner{
   display: flex;
   width: 100%;
   height: 100%;
}

.pop__up__body{
   margin: auto;
   width: 500px;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   padding: 100px 15px 110px 15px;
   position: relative;
}

.pop__up__body__form__input{
   width: 100%;
   outline: none;
   padding: 10px 60px 10px 10px;
   margin-bottom: 20px;
  
}

.pop__up__body__form__input::placeholder{
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}

.pop__up__body__form__btn{
   width: fit-content;
   background-color: $colorforbuttom;
   color: #fff;
   border: none;
   border-radius: 10px;
   padding: 10px 12px;
}

.pop__up__body__title{
   margin-bottom: 20px;
}

.pop__up__btn__close{
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
}

.footer{
   padding-bottom: 120px;
   background-color: #000;
}

.footer__top{
   display: flex;
   justify-content: space-between;
   margin-bottom: 53px;
   padding-top: 80px;
   
}

.footer__top__first__block a{
   display: block;
   margin-bottom: 15px;
}

.footer__top__first__block__text{
   max-width: 372px;
   line-height: 24px;
   margin-bottom: 25px;
}

.footer__top__first__block__link{
   color: #fff;
}

.footer__top__2__block__title{
   margin-bottom: 15px;
}

.about__us__list__item{
   margin-bottom: 10px;
}
.about__us__list__item:last-child{
   margin-bottom: 0;
}
.about__us__list__link{
   color: #fff;
}

.footer__phone{
   color: #fff;
}

.footer__top__3__block__title{
   margin-bottom: 20px;
}

.footer__top__3__block__text{
   margin-bottom: 11px;
   line-height: 24px;
   max-width: 285px;
}

.social__list{
   display: flex;
  
  
   margin-top: 105px;
}


.footer__bottom{
   border-top:1px solid #D2D2D2 ;
  
}
.footer__bottom__text{
   text-align: center;
   margin-top: 30px
}








   

















@import 'media';
