@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
   padding-bottom: 122px;
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 37px;
   }
   
   
}

.nav{
   &__menu__list{
      display: flex;
      column-gap: 88px;
     
   }
}

.nav__menu__item.nav__menu__item__active{
   position: relative;
}
.nav__menu__item.nav__menu__item__active::before{
   position: absolute;
   content: '';
   width: 39px;
   height: 4px;
   bottom: 6px;
   left: -30px;
   background-color: $colorforbuttom;
}

.nav__menu__item.nav__menu__item__active::after{
   position: absolute;
   content: '';
   width: 5px;
   height: 4px;
   background-color: $colorforbuttom;
   border-radius: 50%;
   bottom: 6px;
   right: 27px;

}

.nav__menu__link{
   color: #fff;
}
.nav__menu__btn{
   display: inline-flex;
   transform: translateY(-5px);
   
   color: #fff;
   
   background-color: #FA9021;
   padding: 10px 27px;
}

.ctx__nav__box{
   display: flex;
   column-gap: 36px
}
.promo{
   padding-bottom: 180px;
   &__inner{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__ctx{
      color: #fff;
      max-width: 527px;
      
   }

   &__title{
      color: #E87D0E;
      font-size: 20px;
      font-weight: 700;
      line-height: 155.2%;
      margin-bottom: 16px;
   }

   &__description{
      font-size: 50px;
      font-weight: 700;
      line-height: 155.2%;
      margin-bottom: 27px;
   }

   &__text{
      font-weight: 500;
      line-height: 200%;
      margin-bottom: 50px;
   }

   &__btn{
      width: fit-content;
      border: none;
      padding: 0;
      background-color: $colorforbuttom;
      padding: 15px 30px;
      border-radius: 40px;
      
   }

   &_img{
      transform: translateX(310px)
   }
   
}

.card__game{
   &__innner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 57px;
   }

   &__btn{
      display: inline-flex;
      width: fit-content;
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.11);
      padding: 10px 30px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      
      
   }

   &__title{
      color: #fff;
      font-size: 31px;
      font-weight: 700;
      list-style: 187.5%;
   }

}

.card__game{
   padding-bottom: 129px;
}


.card__box{
   display: flex;
   
  
  justify-content: space-between;
  margin-bottom: 25px;


   
}

.card__ctx__move{
   display: flex;
   column-gap: 10px;
   justify-content: space-between;

   

}

.card__ctx__main{
   display: flex;
   column-gap: 10px;
   
   
}

.spider__man{
   padding-bottom: 157px;
   &__title{
      text-align: center;
      color: #fff;
      font-size: 35px;
      font-weight: 600;
      line-height: 187.5%;
      max-width: 826px;
      margin: 0 auto;
      margin-bottom: 67px;
      
   }

   &__subtitle{
      font-size: 30px;
      font-weight: 600;
      line-height: 187.5%;
      margin-bottom: 32px;
      
   }

   &__text{
      line-height: 187.5%;
      max-width: 545px;
      margin-bottom: 46px;
      
   }
}














@import 'media';
